<div class="change-password-container">
  <div class="header">
    <!-- <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="home" [routerLink]="['/home']"></mat-icon> -->
    <div class="app-name">Mkoba App</div>
    <div class="user-info" *ngIf="user">
      <span>{{ user?.member?.name}}</span>
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="content">
    <h2>2PL Prof Group-22</h2>
    <h3>Change Password</h3>
    <form (ngSubmit)="changePassword()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" name="currentPassword" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" name="newPassword" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" name="confirmPassword" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loading">
        {{ loading ? 'Changing...' : 'Change Password' }}
      </button>
    </form>
  </div>
  <footer class="footer">
    <p>&copy; Mkoba App - 2PL Prof Group-22. All rights reserved.</p>
  </footer>
</div>