.change-password-container {
  justify-content: space-between;
  align-items: center;
  background-color: #dddee4;
  color: white;
  padding: 16px;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454c79;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  margin: 24px auto;
  max-width: 1000px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.home-icon{
  cursor: pointer;
}

.app-name {
  font-size: 25px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-info span {
  font-weight: 500;
  display: flex;
}

button {
  background-color: white;
  color: #3f51b5;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 24px;
  background-color: #b0aeae;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  gap: 1rem;
}

.content h2 {
  margin-bottom: 16px;
}

.content h3 {
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
  display: block
}

button {
  width: 100%;
}

.footer {
  background-color: #dddee4;
  color: rgb(146, 144, 144);
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}