<div class="landing-container">
    <img src="assets/images/2pl_grp_logo.png" alt="Group Logo" class="logo" />

    <h1 class="app-title">2PL PROF GROUP-22</h1>

    <p class="intro-text">
        Welcome to the official system of 2PL PROF GROUP-22. This platform allows you to easily manage monthly contributions,
        loans, repayments, and member information.
    </p>

    <button mat-raised-button color="primary" (click)="goToLogin()">
        <mat-icon>login</mat-icon>
        Login Here
    </button>

</div>