.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 24px;
  text-align: center;
  background-image: url('/assets/images/bg_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* fallback color if image doesn't load */
  /* color: white; */
}


.logo {
  width: 200px;
  margin-bottom: 24px;
}

.app-title {
  font-size: 2.5rem;
  color: #5e6ed3;
  margin-bottom: 16px;
}

.intro-text {
  font-size: 1.2rem;
  color: white;
  max-width: 600px;
  margin-bottom: 32px;
}
