<div class="contributions-container">
    <div class="header">
        <div class="app-name">2PL PROF GROUP-22</div>
        <div class="user-info" *ngIf="user">
            <span>{{ user?.member?.name }}</span>
            <button mat-icon-button matTooltip="Home" class="home-icon" aria-hidden="false"
                aria-label="Example home icon" fontIcon="home" (click)="home()"><mat-icon>home</mat-icon>
                </button>
            <button mat-icon-button matTooltip="User Info" [matMenuTriggerFor]="userMenu"
                aria-label="User Menu"><mat-icon>account_circle</mat-icon></button>

            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="changePassword()">
                    <mat-icon>lock</mat-icon>
                    <span>Change Password</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="content">
        <h4>MONTHLY CONTRIBUTIONS</h4>
        <mat-form-field class="search">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let contribution"> {{ contribution.id }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Member Name </th>
                <td mat-cell *matCellDef="let contribution"> {{ contribution.member.name }} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                <td mat-cell *matCellDef="let contribution">TSH {{ contribution.amount }} </td>
            </ng-container>

            <ng-container matColumnDef="paymentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Paid </th>
                <td mat-cell *matCellDef="let contribution"> {{ contribution.paymentDate }} </td>
            </ng-container>

            <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
                <td mat-cell *matCellDef="let contribution"> {{ contribution.month }} </td>
            </ng-container>

            <ng-container matColumnDef="penaltyAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Penalty </th>
                <td mat-cell *matCellDef="let contribution">TSH {{ contribution.penaltyAmount }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let contribution">
                    <!-- Always visible: View More -->
                    <button mat-icon-button [disabled]="contribution.member.id !== loggedInUserId && !isAdmin" (click)="viewMore(contribution.member)"
                        matTooltip="View More">
                        <mat-icon>visibility</mat-icon>
                    </button>

                    <!-- Only visible if the logged-in user is an admin -->
                    <ng-container *ngIf="isAdmin">
                        <button mat-icon-button color="primary" (click)="editCntrib(contribution)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteContribution(contribution)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- No Data Row -->
            <tr class="mat-row" *matNoDataRow style="color: brown;">
                <td class="mat-cell" colspan="7">No data matching the filter "{{ input?.value }}"</td>
            </tr>
        </table>

        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 500]" showFirstLastButtons></mat-paginator>

        <button  *ngIf="isAdmin" mat-fab color="primary" matTooltip="Ongeza Mchango wa mwanachama" class="btn-add-new" (click)="addContribution()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <footer class="footer">
        <p>&copy; Mkoba App - 2PL Prof Group-22. All rights reserved.</p>
    </footer>
</div>
